@use "src/styles/components/animations";
@use "src/styles/mixins";

.skeleton {
  position: relative;
  &::after {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ffffff), to(transparent));
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transform: translateX(0%);
    position: absolute;
    @extend .loading;
    min-height: 1rem;
    display: block;
    height: 100%;
    content: "";
    width: 20%;
    top: 0;
  }
}
