@use "src/styles/components/animations";
@use "src/styles/mixins";
@use "src/styles/theme";

.primary-slider {
  transition: all 0.5s ease;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  & .slider-left-control {
    color: theme.get-theme-value(theme, septenary, color);
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    display: flex;
    width: 2.5rem;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    & * {
      font-size: 1.25rem;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
      color: #ffffff;
    }
  }

  & .slider-right-control {
    color: theme.get-theme-value(theme, septenary, color);
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    display: flex;
    width: 2.5rem;
    height: 100%;
    z-index: 1;
    right: 0;
    top: 0;
    & * {
      font-size: 1.25rem;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
      color: #ffffff;
    }
  }

  & .slider-bottom-control {
    color: theme.get-theme-value(theme, septenary, color);
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0.3rem;
    display: flex;
    width: 100%;
    z-index: 1;
    left: 0;
    & * {
      font-size: 0.75rem;
      cursor: pointer;
      margin: 0 0.125rem;
    }
  }

  & .slider-content {
    padding: 0 2.5rem 2.5rem 2.5rem;
    transition: all 0.5s ease;
    min-height: 100%;
    width: 100%;
    // & .slide-right {
    //   @extend .slide-in-right;
    // }
    // & .slide-left {
    //   @extend .enter-right;
    // }
  }

  & .iterable-element {
    height: 100%;
  }
}
